/* NAVBAR */
.navbar {
  display: flex;
  border-bottom: #ff8400 solid 1px;
  justify-content: space-between;
  align-items: center;font-family: 'Segoe UI', sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #ff933b;
background: linear-gradient(180deg,rgba(255, 147, 59, 1) 1%, rgba(238, 173, 116, 1) 37%, rgba(221, 232, 235, 0.19) 100%);
}

/* LOGO */
.logo {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-links li {
  cursor: pointer;
  font-size: 0.95rem;
  color: #5a3c35;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #ffffff;
}

.nav-links li::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #ff8400;
  transition: width 0.3s ease;
}

.nav-links li:hover::after {
  width: 100%;
}

/* SOCIAL LINKS */
.social-links {
  display: flex;
  gap: 12px;
}

.social-links a {
  text-decoration: none;
  color: #c6674a;
  font-size: 0.9rem;
  transition: color 0.2s;
}

.social-links a:hover {
  color: #ff8400;
}